@page
@model PrivacyModel
@{
    ViewData["Title"] = "Information Page";
}
<h1>@ViewData["Title"]</h1>

<p>
    This Page Will Redirect U To Ur Desired Video
    <br />
    <div>
        <h5><p> 1940 - 1950</p></h5>
        <a href="https://www.youtube.com/watch?v=w-y9rc3AJv4" target="_blank" class="btn btn-primary">Rock Player</a>

        <hr style="height:10px" />
    </div>

    <div>
        <h5><p>1950 - 1970</p></h5>
        

        <a href="https://www.youtube.com/watch?v=_7m3fefUsro" target="_blank" class="btn btn-primary">Rock Player</a>

        <hr style="height: 10px"/>
    </div>

    <div>
        
        <h5><p>1970 - 1990</p></h5>


            <a href="https://www.youtube.com/watch?v=v-XYoQM1H34" target="_blank" class="btn btn-primary">Rock Player</a>

            <hr style="height:10px" />
    </div>

    <div>
        <h5><p>1990 - 2020</p></h5>
        <a href="https://www.youtube.com/watch?v=leopt__ATR0&list=PLgROmqMrpzxUCLTpu06aP1fRJHH5P08XK" target="_blank" class="btn btn-primary">Rock Player</a>

        <hr style="height:10px" />
    </div>



</p>
